{require_otp_vsn, "17"}.

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
  {erl_sshd, ".*", {git, "https://github.com/marcsugiyama/erl_sshd.git",
                    {branch, 'master'}}},
  {dobby, ".*", {git, "https://github.com/ivanos/dobby_core_lib.git",
                 {branch,"master"}}}]
 }.

{erl_opts, [fail_on_warning,
            {parse_transform, lager_transform}]}.
